:root {
    --primary-color: #C4D6B0;
    --secondary-color: #477998;
    --accent-1-color: #291F1E;
    --accemt-2-color: #f64740;
    --heading-font: "Open Sans", sans-serif;
    --body-font: "Ancizar Serif", serif;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: var(--body-font);
    color: var(--accent-1-color);
}

header, main, footer {
    width: 840px;
    margin: 0 auto;
}

h1, h2 {
    font-family: var(--heading-font);
    color: var(--primary-color);
}

nav, p, section, article {
    margin: 16px;
    padding: 8px;
}

.socialmedia a {
    text-decoration: none;
}

.hero {
    position: relative;
}

.hero img {
    display: block;
    width: 100%;
    height: auto;
}

h1 {
    position: absolute;
    top: 20px;
    width: 100%;
    padding: 16px;
    text-align: center;
    opacity: 0.7;
    background-color: var(--accent-1-color);
    color: #fff; 
}

.hero article img {
    position: absolute;
    top: 151px;
    right: 4em;
    width: 100px;
    height: auto;
    border: 3px solid var(--accemt-2-color);
}

.hero article p {
    position: absolute;
    top: 135px;
    width: 75%;
    padding: 16px;
    text-align: center;
    opacity: 0.7;
    background-color:var(--accemt-2-color);
    color: #fff;    
}

/* GRID AND FLEX */


.grid {
    display: flex;
    background-color: rgb(200, 203, 205);
    justify-content: space-around;
}

nav ul {
    list-style-type: none;
    display: flex;
}

nav li {
    margin: 1em auto;
	border: 1px solid rgba(0, 0, 0, 0.466);
	padding: 1em;
	background-color: rgb(230, 165, 132);
	width: min(px, 100%);
	font-size: 1rem;
}

header{
	margin: 1rem auto;
	display: grid;
	grid-template-columns: 120px 1fr 1fr;
	align-items: center;
	border-bottom: 1px solid #ccc;
	max-width: 1000px;
    float: lef;
}

.grid img {
    margin: 0 0.25rem 0 1rem;
	width: 150px;
	height: auto;
}




    
